/*components/Layout/Layout.module.css*/
.container {
  min-height: 100vh;
  background: white; /* FAF7F5에서 white로 변경 */
}

.main {
  padding: 2rem;
}

@media (min-width: 1280px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 800px) and (max-width: 1279px) {
  .main {
    width: 100%;
    padding: 2rem 20px;
  }
}

@media (max-width: 799px) {
  .container {
    overflow-x: auto; /* 여기로 이동 */
  }
  
  .main {
    min-width: 800px;
    padding: 1rem;
  }
}
